<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Courses</title>
    <link rel="stylesheet" href="courses-student.css">
    <link rel="stylesheet" href="side-menu.css">
</head>
<body>
    <div id="sidebar-container"></div>

    <div id="content">
        <h1 class="page-title">All Courses</h1>
        <main>
            <section class="courses">
                <div class="courses-header">
                </div>
                <div class="courses-list">
                    <div class="course-item course-header">
                        <div class="header-course-added">Added to Side Menu</div>
                        <div class="header-course-name">Course Name</div>
                        <div class="header-course-year">Year Created</div>
                        <div class="header-course-published">Published</div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    
    <script src="side-menu.js"></script>
    <script src="courses-student.js"></script>
</body>
</html>
